[package]
name = "accidental-synth"
version = "0.1.0"
description = "Accidental Synthesizer"
authors = ["Dave White"]
license = "Apache-2.0"
edition = "2024"
publish = false
#build = "build.rs"

[profile.release]
debug = false
strip = true
lto = true
codegen-units = 1
panic = "abort"

[dependencies]
anyhow = "1.0.98"
clap = { version = "4.5.51", features = ["derive"] }
core-foundation = "0.10.1"
cpal = "0.16.0"
crossbeam-channel = "0.5.15"
env_logger = "0.11.8"
log = "0.4.27"
midir = "0.10.1"
rand = "0.9.2"
rtrb = "0.3.2"
slint = "1.14.1"
thiserror = "2.0.12"

[build-dependencies]
slint-build = "1.14.1"

[package.metadata.cargo-machete]
ignored = ["slint-build"]
